<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Filename</key>
		<string>mobilesce01.htm</string>
		<key>Type</key>
		<string>Ad</string>
		<key>ViewController</key>
		<string>AdViewController</string>
		<key>Client</key>
		<string>Mobilesce</string>
		<key>URL</key>
		<string>http://www.mobilesce.com/stratpad</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>Filename</key>
		<string>mobilesce02.htm</string>
		<key>Type</key>
		<string>Ad</string>
		<key>ViewController</key>
		<string>AdViewController</string>
		<key>Client</key>
		<string>Mobilesce</string>
		<key>URL</key>
		<string>http://www.mobilesce.com/stratpad</string>
		<key>enabled</key>
		<false/>
	</dict>
	<dict>
		<key>Filename</key>
		<string>faction23.htm</string>
		<key>Type</key>
		<string>Ad</string>
		<key>ViewController</key>
		<string>AdViewController</string>
		<key>Client</key>
		<string>Faction23</string>
		<key>URL</key>
		<string>http://www.faction23.com</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>Filename</key>
		<string>stratpad-upgrade.htm</string>
		<key>Type</key>
		<string>Ad</string>
		<key>ViewController</key>
		<string>AdViewController</string>
		<key>Client</key>
		<string>Glassey Strategy</string>
		<key>URL</key>
		<string>upgrade://com.glasseystrategy.stratpad.free.iap.plus</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>Filename</key>
		<string>mcallister.htm</string>
		<key>Type</key>
		<string>Ad</string>
		<key>ViewController</key>
		<string>AdViewController</string>
		<key>Client</key>
		<string>Mcallister Media</string>
		<key>URL</key>
		<string>http://mcallistermedia.com/stratpad/</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>Filename</key>
		<string>jumpstart.htm</string>
		<key>Type</key>
		<string>Ad</string>
		<key>ViewController</key>
		<string>AdViewController</string>
		<key>Client</key>
		<string>JumpStartWeb</string>
		<key>URL</key>
		<string>http://jumpstartweb.com/stratpad-user-complimentary-call/</string>
		<key>enabled</key>
		<true/>
	</dict>
</array>
</plist>
