<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chapters</key>
	<array>
		<dict>
			<key>ChapterNumber</key>
			<string>i</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Filename</key>
					<string>welcome01.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>welcome02.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>welcome03.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>WELCOME_TO_STRATPAD</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>ii</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Filename</key>
					<string>onStratPad01.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStratPad02.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStratPad03.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStratPad04.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStratPad05.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>ON_STRATPAD</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>iii</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Filename</key>
					<string>onStrategy01.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy02.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy03.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy04.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy05.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy06.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy07.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy08.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy09.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy10.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy11.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy12.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy13.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy14.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy15.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy16.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy17.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy18.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy19.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy20.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy21.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy22.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy23.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy24.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy25.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy26.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy27.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>onStrategy28.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>ON_STRATEGY</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>iv</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Filename</key>
					<string>toolkit01.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit02.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit03.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit03_5.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit04.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit05.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit06.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit07.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit08.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit09.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit10.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit11.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit12.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit13.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit14.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit15.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit16.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit17.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit18.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit19.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
				<dict>
					<key>Filename</key>
					<string>toolkit20.htm</string>
					<key>Type</key>
					<string>HTML</string>
					<key>ViewController</key>
					<string>ReferenceViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>TOOLKIT</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>1</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>AboutYourStrategyViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>ABOUT_YOUR_STRATEGY</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>2</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>DescribeCustomersViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>KeyProblemsViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>AddressProblemsViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>DescribeCompetitorsViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>DescribeBusinessModelViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>DescribeExpansionOptionsViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>UltimateAspirationViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>STRATFILE_BASICS</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>3</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>StrategicGoalViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>STRATEGY_STATEMENT</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>4</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>BrainstormThemesViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>BRAINSTORM_THEMES</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>5</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>ThemeDetailViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>THEME_DETAIL</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>6</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>DefineObjectivesViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>DEFINE_OBJECTIVES</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>7</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>ActivityViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>ACTIVITY</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>8</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>FinancialTableOfContentsViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>AccountsReceivableViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>AccountsPayableViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>InventoryViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>LoansViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>AssetsViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>EquityInvestmentsViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>EmployeeDeductionsViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>SalesTaxViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>IncomeTaxViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Form</string>
					<key>ViewController</key>
					<string>OpeningBalancesViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>FINANCE</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R1</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>StrategyMapViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>STRATEGY_MAP_REPORT_TITLE</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R2</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>StrategyFinancialAnalysisMonthViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>STRAT_FINANCIAL_ANALYSIS_MONTH</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R3</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>StrategyFinancialAnalysisThemeViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>STRAT_FINANCIAL_ANALYSIS_THEME</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R4</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>ThemeFinancialAnalysisMonthViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>THEME_ANALYSIS_MONTH</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R5</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>ThemeDetailReportViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>THEME_DETAIL</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R6</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>GanttViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>GANTT</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R7</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>ProjectPlanViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>PROJECT_PLAN</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R8</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>MeetingAgendaViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>AGENDAS</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R9</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>BusinessPlanViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>BUSINESS_PLAN_SUMMARY</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R10</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>IncomeStatementSummaryViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>CashFlowSummaryViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>BalanceSheetSummaryViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>FINANCIAL_STATEMENT_SUMMARY</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>R11</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>IncomeStatementDetailViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>CashFlowDetailViewController</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>BalanceSheetDetailViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>FINANCIAL_STATEMENT_DETAIL</string>
		</dict>
		<dict>
			<key>ChapterNumber</key>
			<string>S1</string>
			<key>Pages</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Report</string>
					<key>ViewController</key>
					<string>StratBoardViewController</string>
				</dict>
			</array>
			<key>TitleKey</key>
			<string>STRATBOARD</string>
		</dict>
	</array>
</dict>
</plist>
