<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdmobConversion</key>
	<string>542415134</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>StratPad</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>StratFile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.glasseystrategy.stratpad.stratfile</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>StratFile Backup</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.glasseystrategy.stratpad.stratbak</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon-72.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72.png</string>
		<string>Icon-72@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.glasseystrategy.stratpad.platinum</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>StratPad Platinum</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.glasseystrategy.stratpad</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stratpad</string>
				<string>stratpadplatinum</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FlurryAppKey</key>
	<string>2WVF4F82GVX4WN5NM3T7</string>
	<key>GoogleConversionPing</key>
	<string>ASJQCNX1owQQm73d-wM</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MBBuildDate</key>
	<string>mm.dd.yyyy</string>
	<key>MBLogLevel</key>
	<string>${MBLogLevel}</string>
	<key>MBRegistrationServer</key>
	<string>https://istratpad.appspot.com/153</string>
	<key>MBReportServer</key>
	<string>https://rest.stratpad.com/</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>For import logo image</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>dx_FoJLKTIC2xJhSOWt_zw</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>7cVsgqbURBuJOp7q3aySBg</string>
	<key>TestFlightKey</key>
	<string>b0b35369-5d24-4e06-a399-2670a0d2ebb4</string>
	<key>UAEcommerce</key>
	<string>UA-3611832-8</string>
	<key>UANumber</key>
	<string>UA-3611832-7</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>StratPad File</string>
			<key>UTTypeIdentifier</key>
			<string>com.glasseystrategy.stratpad.stratfile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>stratfile</string>
				<key>public.mime-type</key>
				<array>
					<string>application/stratpad</string>
					<string>application/stratfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>StratPad Backup File</string>
			<key>UTTypeIdentifier</key>
			<string>com.glasseystrategy.stratpad.stratbak</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>stratbak</string>
				<key>public.mime-type</key>
				<string>application/stratbak</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
